phonegap/node_modules/grunt-contrib-imagemin/node_modules/gifsicle/node_modules
phonegap/node_modules/grunt-contrib-connect/node_modules
phonegap/node_modules
api/public/uploads/tmp
phonegap/.tmp
phonegap/.sass-cache
api/tmp
api/log
api/config/application.yml
api/config/database.yml
api/public/uploads
api/.bundle
phonegap/platforms/ios/build
phonegap/platforms/ios/CordovaLib/build
phonegap/platforms/ios/www/styles/.sass-cache
phonegap/platforms/android/CordovaLib/bin
phonegap/platforms/android/ant-build
phonegap/platforms/android/CordovaLib/ant-build
phonegap/platforms/android/bin
phonegap/platforms/android/assets/www/styles/.sass-cache
platforms/android/CordovaLib/local.properties
platforms/android/local.properties
phonegap/www/styles/.sass-cache
